@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin:0;
}
#home{
    margin:30px;
    
}
#title{
    font-size:30px;
    font-weight: 700;
}

#get-data{
    border:none;
    padding:.5rem 2rem;
    background-color: #000;
    /* color:#e8e1e1; */
    color:antiquewhite;
    border-radius: 5px;
    margin:10px 0;
    font-size: 18px;
    border:2px solid #000;
    font-weight: 500;

    /* display: none; */

}

#get-data:hover{
    background-color: antiquewhite;
    color: #000;
    border:2px solid #000;
    cursor: pointer;
}

#gfg{
    display: block;
}

#main-container{
    margin:30px;
    /* padding: 1.5rem; */
    display:flex ;
    flex-flow: column wrap;
    justify-content: space-evenly;
    gap:25px;

    display: none;
}

#gps{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.line-1,.line-2,.line-3{
    display: flex;
    flex-flow: column wrap;
    /* border:1px solid red;  */
    gap:5px;
    font-size: 1.5rem;
}

#map{
    width:100vw;
    /* border:1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#date-time{
    font-size: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    gap:15px;
}

#post-offices{
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 2rem 15rem;
}
.po-box{
    border:2px solid #000;
    width:300px;
    padding: 1.2rem;
    border-radius: 5px;
}


.po-box div{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#search{
    padding: .75rem 2rem;
    width:95%;
    border:3px solid black;
    font-size: 1rem;
    border-radius: 10px;
}

#search:focus{
    outline:none;
}
.search-inpt{
    position: relative;
}
.filter{
    position: absolute;
    left:6px;
    top:12px;
}
#loader-container{
    width:100vw;
    height:100vh;
    background-color: #ffffff;
    position:absolute;
    top:0;
    left:0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}
.loader{
    width:4rem;
    height:4rem;
    border-top:10px dashed  #333;
    border-right:10px dashed #555;
    border-bottom: 10px dashed #777;
    border-left: 10px dashed #999;
    border-radius: 50%;

    animation: loading 4s infinite linear;

}

@keyframes loading{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}